[Unit]
Description=Monero Wallet RPC
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monero-wallet-rpc-wrapper.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
